.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20px #4b4b4b;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;

    min-width: 40%;

}

.image {
    border-radius: 5%;
    box-shadow: 0px 5px 20px #4a0483;


}

.learnBtn {
    background: rgb(230, 36, 36);
    border: none;
    padding: 10px 20px;
    color: white;
    margin: 25px;
    text-decoration: none;
    border-radius: 5px;
}

.title {
    color: #4a0483;

}